<div class="recent-searches" *ngIf="history.length > 0">
  <div class="recent-header">
    <span class="recent-label">Búsquedas recientes</span>
    <button class="clear-all-btn" type="button" (click)="onClearAll()">
      Borrar todo
    </button>
  </div>

  <ul class="recent-list">
    <li
      *ngFor="let item of history"
      class="recent-item"
      (click)="onSelect(item)"
      role="option"
      [attr.aria-label]="item"
    >
      <ion-icon name="time-outline" class="item-icon"></ion-icon>
      <span class="item-text">{{ item }}</span>
      <button
        class="remove-btn"
        type="button"
        (click)="onRemove(item, $event)"
        aria-label="Eliminar"
      >
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </li>
  </ul>
</div>
